body {
  /* Promenne pro barvy */
  --page-background: #f1eee4;
  --page-text: #192a38;
  --page-question: #d9702f;
  /* Promenne pro barvy */

  font-family: "Roboto Mono", monospace;
  color: var(--page-text);
  background-color: var(--page-background);
  margin: 0;
}

.top-bar {
  background-color: var(--page-text);
  width: 100%;
  height: 50px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 60px;
}

h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  border: 3px solid var(--page-text);
  padding: 5% 1% 5% 1%;
  font-weight: bold;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}

nav {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
}

a {
  text-decoration: none;
  color: var(--page-text);
  width: 19%;
}

.pravy-margin {
  margin-right: 1.5%;
}

nav ul li:hover {
  background-color: var(--page-text);
  color: var(--page-background);
}

#main-nadpis {
  margin: 10px 0 0 0;
  border: 3px solid var(--page-text);
}

#obal {
  width: 70%;
  margin: auto;
}

.kategorie {
  border: 3px solid var(--page-text);
  margin: 15px 0 15px 0;
  text-align: left;
  padding-bottom: 10px;
}

.kategorie-nadpis {
  border-bottom: 3px solid var(--page-text);
  margin: 0;
  padding: 10px 0 10px 7px;
  background-color: var(--page-text);
  color: var(--page-background);
  display: flex;
}

.kategorie-nadpis h2 {
  margin-left: 10px;
}

.kategorie-otazka {
  border: 3px solid var(--page-question);
  padding: 5px 0 5px 7px;
  margin: 10px 10px 0 10px;
  background-color: var(--page-question);
  color: var(--page-background);
  cursor: pointer;
  display: flex;
}

.kategorie-odpoved {
  display: none;
  border: 3px solid var(--page-question);
  border-top: 0;
  padding: 10px;
  margin: 0 10px 10px 10px;
}

.kategorie-odpoved p {
  text-align: justify;
  line-height: 1.8;
}

#bitcoin {
  margin-top: 0;
}

footer {
  background-color: var(--page-text);
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: var(--page-background);
}

footer p {
  margin: auto;
}

.otazka-nadpis {
  width: 90%;
}

.sipka {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-sipka {
  width: 25px;
  margin: auto;
}
